.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(47,200,188);
  background: radial-gradient(circle, rgba(47,200,188,1) 38%, rgba(0,129,255,0.90238093528427) 100%);
}

h4 {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.visible {
  display: block
}

.hidden {
  display: none
}

.done {
  text-decoration: line-through;
  color: red
}